/* Start Variables */
:root {
  --main-color: #2a3b40;
  --section-color: #d4d8d9;
  --Box-Color: #ffffffbf;
  --text-color: #ad6c12;
  --text-color02: #ffffff;
}
/* End Variables */
/* Start Framework */
.area-padding {
  padding: 60px 0;
}
.Box-overlay {
  background-color: var(--Box-Color);
  position: absolute;
  transform: translate(-50%, -50%);
}
.main-title {
  color: var(--main-color);
  font-family: 'Cookie';
  font-weight: normal;
  margin: 0;
}
.main-desc {
  color: var(--text-color);
  font-weight: 700;
  line-height: 1;
  margin: 0;
}
.secondary-title {
  color: var(--main-color);
}
.secondary-desc {
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.5;
}
.price {
  display: block;
  font-size: 1.1em;
  margin-block-start: 1em;
  margin-block-end: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: var(--main-color);
}
.input-style {
  display: block;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 7px;
  padding-left: 5px;
  color: var(--text-color02);
  background-color: var(--main-color);
  border: 2px solid var(--text-color02);
  border-radius: 7px;
}